div#container(style="width:100%; color:red;")
    img#background_img(src="bg2.jpg", alt="bg", style="width:100%;")

    div#girl(style="width:15%")
        img#imgg(src="girl.png", alt="girl", style="width:100%")

    div#cloud(style="width:15%")
        img(src="cloud.png", alt="cloud", style="width:100%")


script(type="text/javascript" src="blockly/testAnimateJs3.js")